<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Estilos/error404.css') }}">
</head>
<body>

  <div class="contenedor_principal">
    <header>
      <div></div>
    </header>
    <main>
      <h1>Parece que la página a la que intenta ingresar no existe</h1>
      <button class="button-52" role="button">
        <a href="/login">Click si deseas volver al Login</a>
      </button>
    </main>

    <div clas="footer-container">
      <footer class="footer">
        <p>© 2023 QuickRecipe. Todos los derechos reservados.</p>
        <p>Desarrollado por Jhosef Alejandro y Juanangel Alvarado</p>
      </footer>
    </div>
  </div>

</body>
</html>