<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar Sesión</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Estilos/login.css') }}">
</head>
<body>
  <div class="contenedor_principal">
    <header>
      <div class="barra_nav_principal">
        <div class="barra_nav_principal_izquierda">
          <a class="subrayado" href="./Registro">Crear una cuenta gratis</a>
        </div>
      </div>
    </header>

    <main>
      <div class="registro-container">

        <h2>Iniciar Sesión</h2>
      
        {% if mensaje %}
          <div class="alert-danger" role="alert">
              <strong> {{ mensaje}} </strong>
          </div>
            {% endif %}
        <form action="/login" method="POST">
          <label for="Usuario">Ingrese su Usuario</label>
          <input type="text" name="txtusername" placeholder="Usuario" required> <!--El placeholder es el texto que aparece dentro del input-->

          <label for="Contraseña">Ingrese su Contraseña</label>
          <input type="password" name="txtpassword" placeholder="Contraseña" required>

          <button type="submit">Iniciar Sesión</button>
        </form>

      </div>
    </main>
  
    <div clas="footer-container">
      <footer>
        <p>© 2025 QuickRecipe. Todos los derechos reservados.</p>
        <p>Desarrollado por Jhosef Alejandro y Juanangel Alvarado</p>
      </footer>
    </div>
</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>