.btnCorazon {
    background-color: transparent;
    text-decoration: none;
    border: none;
}

.navcoro {
    background-image: url(/static/IMAGENES/corazon.svg);
    background-repeat: no-repeat;
}

.no_navcoro {
    background-image: url(/static/IMAGENES/corazonvacio.svg);
    background-repeat: no-repeat;
    &:hover{
        background-image: url(/static/IMAGENES/corazon.svg);
    }
}